#site-main {
    margin-left: 60px;
    overflow-x: hidden;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    z-index: 99999;
    overflow-x: hidden;
    font-size: x-large;
    text-align: center;
}

.progress {
    height: 30px;
}

.progress-label {
    width: 18%;
    font-size: small;
    font-weight: bold;
}

#displayMode{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
}